body h1{
    font-family: 'Bebas Neue', cursive;
    font-size:50px;
}
.logo{
    width:300px;

}
.navigation{
    margin-left:600px;
}

.navigation li a{
    font-size:18px;
    text-decoration: none;
    color:rgb(43, 41, 41);
}
.navigation li a:hover{
    background-color: rgb(114, 168, 13);
    color:white;
    font-weight:700;
    border-radius:5px;
    font-size:25px;
}

.buy-button{
    background-color: rgb(114, 168, 13);
    color:white;
    font-weight:700px;
    border:0;
}
.buy-button:hover{
    background-color:rgb(114, 168, 13);
    font-size: 25px;
    font-weight:700;
}
.img-1{
    width:600px;
    height:800px;
}
.img-1 img{
    width:100%;
}
.jackets .card{
    margin-right:50px;
}
.jackets .card img{
    background-color: rgb(230, 219, 219);
    border-radius: 10px;
}
.flex-item{
    

}
.flex-item img{
    width:100px;
    height:100px;
}
.flex-item .details{
    margin-left:20px;
    text-transform: capitalize;
}